#global:
#  scrape_interval: 15s
#  evaluation_interval: 15s

scrape_configs:
- job_name: 'prometheus'
  static_configs:
  - targets: ['localhost:9090']

{% for server in monitored_servers %}
- job_name: '{{ server.name }}.rtk.intra.net'
  static_configs:
  - targets: ['{{ server.ip }}:{{ node_exporter_port }}']
{% endfor %}