options {
    listen-on port 53 { {{ dns_listen_ip }}; };
    listen-on-v6 port 53 { none; };
    directory "/var/named";
    allow-query { any; };
    forwarders { 77.88.8.8; 77.88.8.1; };
    recursion yes;
    dnssec-validation no;
    tkey-gssapi-keytab "/var/lib/samba/bind-dns/dns.keytab";
    minimal-responses yes;
};

zone "." IN {
    type hint;
    file "named.ca";
};

zone "RTK.INTRA.NET" {
    type master;
    file "/var/named/master/rtk.intra.net.db";
};

zone "16.172.in-addr.arpa" {
    type master;
    file "/var/named/master/rtk.intra.net_rev.db";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

